<div class="movies__container">
  <div class="movie__box" *ngFor="let pelicula of peliculas">
    <img src="{{pelicula.img}}" alt="">
    <div class="information">
      <span class="label">nombre:</span>
      <span>{{pelicula.nombre}}</span>
      <span class="label">duracion:</span>
      <span>{{pelicula.duracion}}</span>
      <span class="label">precio:</span>
      <span>{{pelicula.precio}}</span>
      <span class="label">Descripcion: </span>
      <p>{{pelicula.descripcion}}</p>

      <div class="buttons">
        <span>Alquilar</span><i class="fas fa-cart-plus"></i>
      </div>
    </div>
  </div>
